header { 
   border:5px black double;
   font-family: "Lucida Console";
   text-align: center;
}

body {
  background-color: pink;
}

.container {
  background-color: pink;
}

.content {
  border:5px black double;
  font-family: "Courier New";

}

.aside {
  border:5px black double;
  width: 120px;
  height:175px;
  float: 20px left;
  background-color: white;
}

footer {
  background-color: pink; 
  border: 5px black double;
  font-family: "Courier New";
  text-align: center;

}
